.panel.panel-default
  .panel-heading
    Tasks
    = link_to render_modal_tasks_path(target: 'new'), class: 'pull-right', data: { target: '#task_modal', toggle: :modal}, remote: true, method: :get do
      %i.fa.fa-plus
  #task_modal.modal.fade
    .modal-dialog
      .modal-content

  %table#tasks.table
    - @tasks.each do |task|
      %tr
        %td.col-md-10= "#{task.creator.email} - #{task.text}"
        %td.col-md-1.text-right
          = link_to edit_task_path(task) do
            %i.fa.fa-pencil
          = link_to task_path(task), method: :delete, data: { confirm: 'Are you sure?' } do
            %i.fa.fa-trash
          = link_to share_task_path(task), remote: true, method: :post do
            %i.fa.fa-vk
          - unless User.all_except(task.users).blank?
            = link_to render_modal_tasks_path(id: task.id, target: 'share'), data: { target: '#task_modal', toggle: :modal}, remote: true, method: :get do
              %i.fa.fa-share
