.panel.panel-default
  .panel-heading
    Tasks
    = link_to new_task_path, class: 'pull-right' do
      %i.fa.fa-plus
  / Table
  %table#tasks.table
    - @tasks.each do |task|
      %tr
        %td.col-md-10= "#{task.text}"
        %td.col-md-1.text-right
          = link_to edit_task_path(task) do
            %i.fa.fa-pencil
          = link_to task_path(task), method: :delete, data: { confirm: 'Are you sure?' } do
            %i.fa.fa-trash
          = link_to share_task_path(task), remote: true, method: :post do
            %i.fa.fa-share
