%h2 Log in
= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field
    = f.email_field :email, autofocus: true, hide_label: true, placeholder: 'Email'
  .field
    = f.password_field :password, autocomplete: 'off', hide_label: true, placeholder: 'Password'
  - if devise_mapping.rememberable?
    .field
      = f.check_box :remember_me
  .actions
    = f.submit 'Log in', class: 'btn btn-default btn-primary'
= render 'devise/shared/links'
