%nav.navbar.navbar-dark.bg-primary
  .container
    = link_to 'taskMan', root_path, class: 'navbar-brand'
    %ul.nav.navbar-nav.pull-right
      - if user_signed_in?
        %li.nav-item
          = link_to render_modal_tasks_path(target: 'new'), class: 'nav-link', data: { target: '#tasks-modal', toggle: :modal}, remote: true, method: :get do
            %i.fa.fa-plus
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{ data: { toggle: 'dropdown' }, href: '#' }
            = current_user.email
          .dropdown-menu
            = link_to 'Settings', edit_user_registration_path, class: 'dropdown-item'
            = link_to 'Log out', destroy_user_session_path, method: 'delete', class: 'dropdown-item'
      - else
        %li.nav-item= link_to 'Log in', new_user_session_path, class: 'nav-link'



-#%nav.navbar.navbar-dark.bg-primary
-#  .container
-#    .nav.navbar-nav
-#      %a.nav-item.nav-link.active{:href => "#"}
-#        Home
-#        %span.sr-only (current)
-#      %a.nav-item.nav-link{:href => "#"} Features
-#      %a.nav-item.nav-link{:href => "#"} Pricing
-#      %a.nav-item.nav-link{:href => "#"} About




-#%nav.navbar.navbar-default
-#  .container
-#    .navbar-header
-#      %button.navbar-toggle.collapsed{ aria: { expanded: false }, data: { toggle: 'collapse', target: '#navbar' }, type: 'button' }
-#        %span.sr-only Toggle navigation
-#        %span.icon-bar
-#        %span.icon-bar
-#        %span.icon-bar
-#      = link_to 'TaskMan', root_path, class: 'navbar-brand brand'
-#    #navbar.colapse.navbar-collapse
-#      %ul.nav.navbar-nav.navbar-right
-#        - if user_signed_in?
-#          %li.dropdown
-#            %a.dropdown-toggle{ data: { toggle: 'dropdown' }, href: '#' }
-#              %i.fa.fa-cog
-#              = current_user.email
-#            %ul.dropdown-menu
-#              %li
-#                = link_to 'Settings', edit_user_registration_path
-#              %li
-#                = link_to 'Log out', destroy_user_session_path, method: 'delete'
-#        - else
-#          %li
-#            = link_to 'Log in', new_user_session_path