%nav.navbar.navbar-dark.bg-primary
  .container
    = link_to 'taskMan', root_path, class: 'navbar-brand'
    %ul.nav.navbar-nav.pull-right
      - if user_signed_in?
        %li.nav-item
          = link_to render_modal_tasks_path(target: 'new'), class: 'nav-link', data: { target: '#tasks-modal', toggle: :modal}, remote: true, method: :get do
            %i.fa.fa-plus
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{ data: { toggle: 'dropdown' }, href: '#' }
            = current_user.email
          .dropdown-menu
            = link_to 'Settings', edit_user_registration_path, class: 'dropdown-item'
            = link_to 'Log out', destroy_user_session_path, method: 'delete', class: 'dropdown-item'
      - else
        %li.nav-item= link_to 'Log in', new_user_session_path, class: 'nav-link'
